{{#each kegs}}


  <div class="row">
    <div class="panel panel-inverse edit-keg" data-attribute={{this.id}}>
      <div class="panel-body">
        <div class="col-md-6">
          <div class='keg-stats'>
            <h5 class="keg-beer-name">{{this.name}}</h5>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div><!--close row-->

      </div>
    </div>

{{/each}}
